.pagina{
    position: relative;
    height: 120rem;
    width: 650px;
    margin: auto;
    padding: 60px 60px;
    background-color: rgb(95, 95, 95); 
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
    border-radius: 10px;
    }
    
    .a1:hover{
        color: aliceblue;
    }
    
    .a2:hover{
        color: aliceblue;
    }
    
    .a3:hover{
        color: aliceblue;
    }
    
    .a4:hover{
        color: aliceblue;
    }
    .a5:hover{
        color: aliceblue;
    }
    .a6:hover{
        color: aliceblue;
    }
    .a7:hover{
        color: aliceblue;
    }
    .a8:hover{
        color: aliceblue;
    }
    .a9:hover{
        color: aliceblue;
    }
    .a10:hover{
        color: aliceblue;
    }
    .a11:hover{
        color: aliceblue;
    }
    .a12:hover{
        color: aliceblue;
    }
    .a13:hover{
        color: aliceblue;
    }
    .a14:hover{
        color: aliceblue;
    }
    .a15:hover{
        color: aliceblue;
    }
    .a16:hover{
        color: aliceblue;
    }
    .a17:hover{
        color: aliceblue;
    }
    .a18:hover{
        color: aliceblue;
    }
    .a19:hover{
        color: aliceblue;
    }
    .a20:hover{
        color: aliceblue;
    }
    .a21:hover{
        color: aliceblue;
    }
    .a22:hover{
        color: aliceblue;
    }
    .a23:hover{
        color: aliceblue;
    }
    .a24:hover{
        color: aliceblue;
    }
    .a25:hover{
        color: aliceblue;
    }
    .a26:hover{
        color: aliceblue;
    }
    .a27:hover{
        color: aliceblue;
    }
    .a28:hover{
        color: aliceblue;
    }
    .a29:hover{
        color: aliceblue;
    }
    .a30:hover{
        color: aliceblue;
    }
    .a31:hover{
        color: aliceblue;
    }
    .a32:hover{
        color: aliceblue;
    }
    .a33:hover{
        color: aliceblue;
    }
    .a34:hover{
        color: aliceblue;
    }
    .a35:hover{
        color: aliceblue;
    }
    .a36:hover{
        color: aliceblue;
    }
    .a37:hover{
        color: aliceblue;
    }